<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://framework.web.cern.ch/framework/2.0/cern_toolbar/css/toolbar.css" rel="stylesheet" type="text/css" media="screen" />
      <title>{{title}}</title>
    </head>

    <body>

  <div id="cern-toolbar">
    <h1>
      <a href="http://cern.ch" title="CERN">
        CERN <span>Accelerating science</span>
      </a>
    </h1>
    <ul>
      <li>
        <a class="cern-directory" href="http://cern.ch/directory" title="Search CERN resources and browse the directory">
          Directory
        </a>
      </li>
    </ul>
  </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="banner">
      <div class="overlayer">
        <div class="container">
          <h2>
              {% if logo %}
              <img src="{{ logo }}"/>
              {% endif %}
              {{ title }}
          </h2>
            <input id="search" class="form-control form-control-lg" type="text" autofocus placeholder="Filter" value="" />

        </div>
      </div>
    </div>
      <div class="container">
            {% for package, latest_version in packages %}
                      <div class="row alert alert-primary" data-name="{{package}}">
                <a href="simple/{{package}}/">
                    {% set info = latest_version.update_info %}
                    <strong>{{package}}</strong></a>
                    {% if info|hasKey('summary') %}
                        : {{ info['summary'][0] }} </p>
                    {% endif %} ({{latest_version.version}})
                      </div>
            {% endfor %}
          <a href="deps.png"><img src="deps.png" style="width: 100%" /></a>
        </div>

        <script>
            (function() {
                function normalize(str) {
                    return str.toLowerCase().replace(/[._-]+/g, '-');
                }
                function filter() {
                    var words = normalize(search.value).trim().split();
                    var rows = document.getElementsByClassName('row');
                    for (var i = 0; i < rows.length; i++) {
                        var row = rows[i];
                        var name = row.dataset.name;
                        var ok = true;
                        for (var j = 0; j < words.length; j++) {
                            if (!normalize(name).includes(words[j])) {
                                ok = false;
                                break;
                            }
                        }
                        row.style.display = ok ? 'block' : 'none';
                    }
                }

                var search = document.getElementById('search');
                search.oninput = filter;
                search.onpaste = filter;
                search.onpropertychange = filter;
            })();
        </script>
    </body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
